body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    color: #fff;
    background: #000 url('../images/smu-campus.jpg') top no-repeat;
    height: 100%;
}

header {
    background: #fff no-repeat center/50% url("../images/smu-cpe-logo.png");
    background-size: auto;
    height: 165px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    header {
        background-size: contain;
        height: 115px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 700px) {
    header {
        background-size: contain;
        height: 115px;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    header {
        background-size: contain;
        height: 115px;
    }
}

h1 {
    font-size: 7em;
    margin:0;
}

h2 {
    margin: 25px;
    font-size: 50px;
}

input[type='number'] {
    font-size: 30px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    height: 67px;
    width: 150px;
    float: left;
}

a, a:active, a:visited {
    text-decoration: none;
    padding: 15px;
    font-size: 28px;
    background: rgb(14, 162, 241);
    color: #fff;
    border-radius: 5px;
    margin-left: 12px;
    float: left;
    text-shadow: none;
}

.container {
    background-size: cover;
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;

}

#timer-background {
    background: rgba(00, 00, 00, .7);
    min-height: 100px;
    transition: height 2.66s ease-out;
    padding: 20px;
}

#timer-background div {
    width: 295px;
    text-align:left;
    margin:0 auto;
}

#form {
    margin:20px auto;
    display: inline-block;
}

#timesup {
    display: none;
}

.clear {
    clear: both;
}